.createSpotPage {
    /* border: #D3D3D3 1.5px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 42.5rem;
    overflow: scroll;
    padding: 0px 20px 20px;
}

.createSpotPage>h2 {
    font-weight: 500;
}

.createSpotPage>p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 17px;
    width: 100%;
    letter-spacing: .5px;
}

.label {
    display: flex;
    flex-direction: column;
}


.createSpotForm {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.createSpotForm>label>input,
.createSpotForm>label {
    width: 100%;
}


.createSpotForm>label>p {
    font-weight: 500;
    margin-bottom: 10px;
    width: 100%;
}

.createSpotForm>label>input {
    height: 40px;
    border: #D3D3D3 1.5px solid;
    width: 100%;
    border-radius: 5px;
    color: black;
}
.label{
    height: 40px;
    border: #D3D3D3 1.5px solid;
    width: 100%;
    border-radius: 5px;
    color: black;
}
.editlabel{
    width: 76%;
    display: flex;
    flex-direction: column;
}
.description {
    height: 50px;
}

.create-title-name {
    margin-top: 5%;
    margin-bottom: -5%;
}

.address {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 5px;
}
.location{
height: 40px;
}
.editadress {
    display: flex;
    width: 76%;
    
    justify-content: space-around;
    gap: 10px;
    margin-top: 5px;
}
.address>input {
    height: 40px;
    width: 33%;
    border: #D3D3D3 1.5px solid;
    border-radius: 5px;
    color: black;
    padding: 5px;
}

.editcreate{
    background: linear-gradient(to bottom right, #e82855, #ce0e78);
    border: transparent;
    font-family: 'Circular','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    border-radius: 10px;
    font-size: 17px;
    margin: 9px 0px;
    margin-left: 8px;
    width: 79%;
    height: 52px;
    color: white;
    padding: 14px;
}

.editcreate:hover {
    cursor: pointer;
    background-color: #E5204D;
}
