.user-spots-whole-page {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
  
  .all-spots-div {
    
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    place-items: center;
  }
  
  .spot-div {
    height: 490px;
    width: 400px;
    margin: 10px;
  }
  
  .img-div {
    height: 310px;
    width: 392px;
    display: flex;
    margin: auto;
  }
  


  .spotImg {
    float: left;
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 15px;
    margin: 1rem;
}
  
  .spot-detail {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px 10px;
    font-size: 1.3rem;
  }
  
  .adressraiting {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

  }

  .spot-price{
    margin: 0px;
  }

  .review{
    margin-left: 100px;
}
  
  .spot-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
  }
  
  .spot-rating {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  
  .spot-city-state {
    font-weight: 500;
    margin-bottom: 0%;
  }
  
  .spot-price-night {
    display: flex;
  }
  
  .spot-night {
    margin-left: 0.4rem;
    font-weight: 250;
  }
  
  .star-icon{
    font-size: 1rem;
    color: #FF385C
    
  }
  
  .spot-link {
    text-decoration: none;
    color: black;
  }
  
