.signUp {
    background: linear-gradient(to bottom right, #e82855, #ce0e78);
    color: white;
    font-weight: 500;
    height: 30px;
    width: 150px;
    gap: 5px;
    border-radius: 5px;
    font-family: 'Circular','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;

}

.signUp:hover {
  cursor: pointer;
  background: #e82855;
  


}

.signUpForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

/* #modal-content>h2 {
  font-weight: 500;
  font-size: 25px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  color: #ce0e78;
} */

.input {
  height: 40px;
  border: #D3D3D3 1.5px solid;
  width: 100%;
  border-radius: 5px;
  color: black;
}

#modal-content {
  margin-top: 50px;
  border: #D3D3D3 1.5px solid;
  border-radius: 20px;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
}