.signUp {
  background: linear-gradient(to bottom right, #e82855, #ce0e78);
  border: transparent;
  font-family: 'Circular','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
  border-radius: 10px;
  font-size: 17px;
  margin: 7px 0px;
  width: 98%;
  height: 48px;
  color: white;
  align-self: center;
}

.signUp:hover {
  cursor: pointer;
  background: #e82855;
}
#midile{
  padding: 20px 36px 16px 12px;
  border-top: none;
  
  border-radius: 0px 0px 0px 0px;
}
.input {
  height: 16px;
  border: #B2B2B2 1.5px solid;
  width: 460px;
  border-radius: 5px;
  color: #B2B2B2;
}

.welcome{
  font-size: 22px;
}


#modal-content {
  border: #D3D3D3 1.5px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}